@import "../../../styles/variables";

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary;
    border: none;
    &.gameOver {
      background: $secondary;
      color: $primary;
    }
    span {
      font-size: 96px;
    }
  }