@import "../../../styles/variables";

.toogleSteps {
    width: 180px;
    margin: 0 auto 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
    &.gameOver{
      color: $primary;
    }
    .line {
      position: relative;
      width: $withHederLine;
      height: $heightHederLine;
      background: $primary;
      .circle {
        width: $dCircle;
        height: $dCircle;;
        border-radius: 100%;
        background: $primary;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all linear 0.2s;
        left: 0;
        &.right {
          left: $withHederLine - $dCircle ;
        }
      }
    }
  }