@import "../../styles/variables";
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .mainContent {
    .board {
      display: grid;
      grid-template-columns: 153px 153px 153px;
      grid-template-rows: 153px 153px 153px;
      grid-gap: 16px;
    }
  }
  .gameOverBlock {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      p {
        font-size: 48px;
        margin-bottom: 33px;
      }
      button {
        width: 176px;
        height: 36px;
        border: 2px solid $borderAgainBtn;
        text-align: center;
        box-shadow: 0px 0px 16px 7px $borderAgainBtn;
      }
    }
  }
}
